.collapsable > .header {
    cursor: pointer;

    display: flex;
    align-items: center;
}

.collapsable .collapsed-icon {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 1em;
}

.collapsable > .content {
    padding: 1em;
}