.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px !important;
    border-radius: 5px;
    margin: 0;
    background-color: #b0b0b0;
    outline: none;
}

.slider:hover {
    background-color: #919191;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #d1d1d1;
}