.spinner {
    border: .25rem solid #f3f3f3;
    border-radius: 50%;
    border-top: .25rem solid transparent;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;

    display: inline-block;
}

.spinner.small {
    width: 0.5rem;
    height: 0.5rem;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}