.tooltip {
    opacity: 1 !important;
}

.tooltip .list {
    margin: 0;
    padding-left: 1em;
}

.tooltip .list .list-item:not(:last-child) {
    margin-bottom: 1em;
}
   
.tooltip .list .list-item .content {
    display: inline-flex;
}